{% extends "base1.html" %}
{% load static %}

{% block content %}
<div class="container mt-5" style="padding:80px">
    <h2>HOSPITAL STAFF</h2>
    <div class="row">
        <!-- General Medicine -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">General Medicine</h5>
            <ul class="list-unstyled">
                <li>Dr. Arjun Patel, MD (General Medicine)</li>
                <li>Dr. Aryan Sharma, MBBS, MD</li>
                <li>Dr. Rohit Gupta, MBBS, MD (Internal Medicine)</li>
            </ul>
        </div>
        <!-- Surgeons -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Surgeons</h5>
            <ul class="list-unstyled">
                <li>Dr. Rajesh Kumar, MS (General Surgery)</li>
                <li>Dr. Rahul Singh, MBBS, MS</li>
                <li>Dr. Akash Verma, MS (Orthopedic Surgery)</li>
            </ul>
        </div>
        <!-- Cardiologists -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Cardiologists</h5>
            <ul class="list-unstyled">
                <li>Dr. Abhishek Desai, DM (Cardiology)</li>
                <li>Dr. Devendra Joshi, MBBS, MD (Cardiology)</li>
                <li>Dr. Siddharth Mishra, DM, FACC</li>
            </ul>
        </div>
        <!-- Oncologists -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Oncologists</h5>
            <ul class="list-unstyled">
                <li>Dr. Deepak Choudhary, MD, DM (Oncology)</li>
                <li>Dr. S Rama Swamy, MBBS, MD (Radiation Oncology)</li>
                <li>Dr. Sudeep Reddy, DM (Medical Oncology)</li>
            </ul>
        </div>
        <!-- Neurologists -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Neurologists</h5>
            <ul class="list-unstyled">
                <li>Dr. Sahiti, DM (Neurology)</li>
                <li>Dr. Shruti Koncham, MD, DM</li>
                <li>Dr. Reetika Sharma, DM (Pediatric Neurology)</li>
            </ul>
        </div>
        <!-- Pediatricians -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Pediatricians</h5>
            <ul class="list-unstyled">
                <li>Dr. Manilesh Chinnaswany, MD (Pediatrics)</li>
                <li>Dr. Vijaylakshmi, MBBS, MD</li>
                <li>Dr. Lakshmi Sireesha, MD, DNB (Pediatrics)</li>
            </ul>
        </div>
        <!-- Gynaecologists -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Gynaecologists</h5>
            <ul class="list-unstyled">
                <li>Dr. Anand, MD (Obstetrics & Gynecology)</li>
                <li>Dr. Anjali Desai, MBBS, MD</li>
                <li>Dr. Swapna, MD (Gynecology)</li>
            </ul>
        </div>
        <!-- Orthopedicians -->
        <div class="col-md-6 mb-4">
            <h5 class="font-weight-bold">Orthopedicians</h5>
            <ul class="list-unstyled">
                <li>Dr. Gupta, MS (Orthopedics)</li>
                <li>Dr. Singh, MBBS, MS</li>
                <li>Dr. Sharma, DNB (Orthopedic Surgery)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
