{% extends "base1.html" %}
{% load static %}

{% block content %}

<div class="container mt-4" style="padding-top: 80px;">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/images.png' %}" class="card-img-top" alt="Administrator">
                <div class="card-body">
                    <h5 class="card-title">ADMINISTRATOR</h5>
                    <p class="card-text">Click here to check the patients queue.</p>
                    <a href="{% url 'receptionist_login'  %}" class="btn btn-primary">LOGIN</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/doctor.png' %}" class="card-img-top" alt="Doctor">
                <div class="card-body">
                    <h5 class="card-title">DOCTOR</h5>
                    <p class="card-text">Doctors login.</p>
                    <a href="{% url 'doctor_login' %}" class="btn btn-primary">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
